*{
    font-family: 'Times New Roman', Times, serif!important;
}
.navbar{
    height:10vh;
}
.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20%;
    color: rgb(23, 172, 172);
}
.btn{
    padding: 12px, 35px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0;
    transition: all ease-in-out .3s;
}

.btn-brand{
    background-color: rgb(27, 232, 154) !important;

    color: rgb(45, 50, 44) !important;
}

.btn-brand:hover{
    border: 2px solid rgb(39, 138, 125) !important;
    color: rgb(164, 208, 62) !important; 
}

.btn-brand-navbar{
    border: 2px solid rgb(26, 97, 38) !important;
    color: rgb(74, 212, 212) !important;
}

.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: uppercase;
}

#banner{
    background: url('p1.jpg');
    height:90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    
    color:rgb(30, 2, 2)

}
 #banner p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(45, 28, 93);
 }
 
 
 .card-img-top {
    width:35% !important;

    
}
.card {
padding: 20px;
margin-top: 20px;
border: 3px solid rgb(110, 168, 34) !important;
transition: all ease-in-out .4s;    

}
.card:hover{
box-shadow: 0 0 10px 5px rgb(118, 127, 108) !important;
border-color: 3px solid rgb(213, 223, 192) !important;
transform: scale(1.1);
background-color: rgb(149, 164, 172);
}

.card:hover .card-title, .card:hover .card-text{
color: rgb(255, 255, 255) !important;
} 
section{
padding: 5px
}
#sugpon h2{
font-family: 'Times New Roman', Times, serif;
color: rgb(67, 93, 93);
font-size: 65px;
margin-bottom: 30px;
}

#about{
    background-color: rgb(36, 34, 36);
}

#about IMG{
    border: 5PX solid chocolate;
}
#about .btn-brand{
background-color: chocolate !important;
color: rgb(234, 251, 0) !important;
}

#about h2{
    color: rgb(15, 48, 209) !important;;
    font-size: 55px !important;


}
.wew{
    width: 65px;
}

.testimonials{
    border: 3px solid rgb(67, 84, 51);
    padding: 20px ;
    margin: 20px;
}

.testimonials:hover{
    transform: scale(1.1);
    color: chocolate;
    border: 3px solid rgb(229, 30, 222);
}

#reviews h2{
    font-size: 55px;

}

#faq{
    background-color: rgb(163, 160, 160);
}